html, body { width: 100%; height: 100%; margin: 0; background: #fff5e5; font-family: "Quicksand", sans-serif; font-weight: bold; color: #ffcd5c;}


nav{
    z-index: 2000;
    font-size: larger;
}

.bg-custom {
    /*background-color: rgba(109, 63, 15, 0.8);*/
    background: linear-gradient(to bottom right, #cc8740, rgba(255, 205, 92, 0.89));
}


.info-panel {
    line-height: 16px;
    min-width: 20%; /*290 px*/
    max-width: 25%;
    /*width: 23% 300px*/;
    position: absolute;
    z-index: 1000;
    left: 10px;
    bottom: 2%;
    color: #070707;
    padding: 6px 8px;
    background: rgba(243, 243, 243, 0.9);
    box-shadow: 0 0 30px rgba(255, 205, 92, 0.8);
    border-radius: 5px;
    text-align: center;
}
.info-panel i {
    width: 16px;
    height: 14px;
    line-height: 18px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
    opacity: 0.7;
}
.info-panel p {
    font-size: 18px;
    line-height: 16px;
    margin: 0;
}



.info-panel-l {
    line-height: 10px;
    min-width: 20%; /*290 px*/
    max-width: 25%;
    max-height: 80%;
    /*width: 23% 300px*/;
    position: absolute;
    z-index: 1000;
    right: 10px;
    bottom: 2%;
    color: #070707;
    padding: 6px 8px;
    background: rgba(243, 243, 243, 0.6);
    box-shadow: 0 0 30px rgba(255, 205, 92, 0.8);
    border-radius: 5px;
    text-align: center;
}
.info-panel-l i {
    width: 16px;
    height: 14px;
    line-height: 18px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
    opacity: 0.7;
}
.info-panel-l p {
    font-size: 18px;
    line-height: 16px;
    margin: 0;
}


#3d-graph {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:1;     /*a larger z-index than the container*/
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #f5f5f5;
}


.stream {
    z-index: 2000;
}


li.dropdown:last-child .dropdown-menu {
    right: 0;
    left: auto;
}

.overlay-desc {
    z-index: 200;
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 65%; left: 0;
    display: flex;
    align-items: center;
    justify-content: center; !important;
    top: 18%;
}
.overlay-desc-sub {
    z-index: 200;
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: -94%; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


p {;
    color: white;
    font-family: "Quicksand", sans-serif; !important;
    z-index: 2000;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.7rem;
    text-align: center;
}

main {
    margin: 0 auto;
    width: 80%;
}

h1 {
    text-align: left;
    text-shadow: 2px 0 #ffcd5c, 0 1px #ffcd5c, 1px 0 #ffcd5c, 0 -1px #ffcd5c;
    font-weight: bold;
    font-size: 4vw !important;
}


.h2info {
    text-align: center;
    text-shadow: 2px 0 #ffcd5c, 0 1px #ffcd5c, 1px 0 #ffcd5c, 0 -1px #ffcd5c;
    font-weight: bold;
}

#h1a {
    text-align: center;
    text-shadow: 2px 0 #fffaf1, 0 1px #fffaf1, 1px 0 #ffcd5c, 0 -1px #ffcd5c;
    font-weight: bold;
}

h4 {
    background-color: rgb(99, 62, 17);
    color: #ffcd5c;
    border: 2px dashed #ffcd5c;;
}

h6 {
    background-color: rgba(255, 205, 92, 0.89);
}

.btn-light{
    z-index: 2000;
    /*text-shadow: 1px 0 #5e3e1d, 0 1px #211853, 1px 0 #ffcd5c, 0 -1px #1d1c1c;*/
    background-color: rgb(249, 245, 235);
    color: #211853;
    border: 1px solid #000000;
    border-radius: 0px;
    cursor: pointer;

}

.max{
    z-index: 2000;!important;
    text-shadow: 1px 0 #ffcd5c, 0 1px #ffcd5c, 1px 0 #ffcd5c, 0 -1px #1d1c1c;
    background-color: rgb(255, 239, 190);!important;
    color: #633e11;!important;
    text-align: center;
    border: 1px solid #000000;!important;
    border-radius: 1px;!important;
    cursor: pointer;!important;
    font-size: 1.5vw; !important;
    line-height: 1.1; !important;
}
svg {
    margin-left:auto; margin-right:auto; display:block;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.tooltip {
    position: absolute;
    width: 150px;
    height: 35px;
    pointer-events: none;
}